.bgp {
  margin: 0;
  padding: 0;
  background-image: url("/public/bgimage.jpg");
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.bgp h1 {
  color: white;
  text-align: center;
  font-size: 35px;
}

.loginFormofficer {
  float: center;
  max-width: 600px;
  margin-bottom: 4px;
  margin: auto;
  opacity: 0.72;
  border-radius: 10%;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 08px;
  padding-bottom: 30px;
  background-color: white;
  width: 400px;
  height: 480px;
}

.loginFormofficer form {
  text-align: center;
}
.loginFormofficer .textInputofficerlog {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.loginFormofficer h4 {
  margin-bottom: 20px;
  color: black;
}

.loginFormofficer label {
  display: block;
  margin-bottom: 5px;
}

.loginFormofficer .buttonofficerlog {
  width: 220px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #e4a80e;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  position: relative;
  left: 9px;
  top: 50px;
}
.loginFormofficer .errorMessage {
  color: red;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width: 200px) and (max-width: 250px) {
  .bgp h1 {
    font-size: 20px;
  }
  .loginFormofficer label {
    font-size: 10px;
  }

  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 4px;
    margin: auto;
    opacity: 0.72;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 08px;
    padding-bottom: 30px;
    background-color: white;
    width: 100px;
    height: 430px;
  }

  .loginFormofficer .textInputofficerlog {
    padding: 5px;
    margin-bottom: 10px;
  }


  .loginFormofficer .buttonofficerlog {
    width: 76px;
    padding: 10px;
    height: 20px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 06px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
}
@media only screen and (min-width: 250px) and (max-width: 344px) {
  .bgp h1 {
    font-size: 20px;
  }
  .loginFormofficer label {
    font-size: 10px;
  }

  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 4px;
    margin: auto;
    opacity: 0.72;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 08px;
    padding-bottom: 30px;
    background-color: white;
    width: 130px;
    height: 430px;
  }

  .loginFormofficer .textInputofficerlog {
    padding: 5px;
    margin-bottom: 10px;
  }


  .loginFormofficer .buttonofficerlog {
    width: 140px;
    padding: 10px;
    height: 20px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 09px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
}

@media only screen and (min-width: 344px) and (max-width: 360px) {
  .bgp h1 {
    font-size: 25px;
  }

  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 4px;
    margin: auto;
    opacity: 0.72;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 08px;
    padding-bottom: 30px;
    background-color: white;
    width: 240px;
    height: 390px;
  }


  .loginFormofficer .buttonofficerlog {
    width: 76px;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 08px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 375px) {
  .bgp h1 {
    font-size: 30px;
  }

  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 50px;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 08px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 70vh;
  }


  .loginFormofficer .buttonofficerlog {
    width: 76px;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 08px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  .bgp h1 {
    font-size: 30px;
  }

  .bgp {
    background-image: url("/public/bgimage.jpg");
    display: flex;
    height: 102vh;
    background-size: cover;
  }
  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 50px;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 08px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 370px;
  }

  .loginFormofficer .buttonofficerlog {
    width: 85px;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 08px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
}
@media (min-width: 438px) and (max-width: 666px) {
  .bgp h1 {
    font-size: 30px;
  }

  .bgp {
    background-image: url("/public/bgimage.jpg");
    display: flex;
    height: 102vh;
    background-size: cover;
  }
  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 50px;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 08px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 370px;
  }


  .loginFormofficer .buttonofficerlog {
    width: 100%;
    margin-top: 1rem;
  }

  .loginForm .buttonofficerlog {
    width: 100px;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 08px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
  .loginFormofficer .textInputofficerlog {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 667px) and (max-width: 1075px) {
  .bgp h1 {
    font-size: 30px;
  }

  .loginFormofficer {
    float: center;
    max-width: 600px;
    margin-bottom: 50px;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 08px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 370px;
  }

  .loginFormofficer .buttonofficerlog {
    width: 100px;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e4a80e;
    color: rgb(0, 0, 0);
    font-size: 08px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    left: 9px;
    top: 50px;
    bottom: 5px;
  }
  .loginFormofficer .textInputofficerlog {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
  }
}
