@media only screen and (min-width: 360px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 7vh;
    align-items: center;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    height: 5vh;
    align-items: center;
  }
  .cont .button11 {
    width: 28%;
    height: 3vh;
    padding: 1px 2px;
    font-size: 0.4em;
    cursor: pointer;
    background-color: #e4a80e;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .cont .button11:hover {
    background-color: #ffffff;
  }
}
@media only screen and (min-width: 412px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 7vh;
    align-items: center;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    height: 5vh;
    align-items: center;
  }
  .cont .button11 {
    width: 28%;
    height: 3vh;
    padding: 1px 2px;
    font-size: 0.4em;
    cursor: pointer;
    background-color: #e4a80e;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .cont .button11:hover {
    background-color: #ffffff;
  }
}
@media only screen and (min-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 7vh;
    align-items: center;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    height: 5vh;
    align-items: center;
  }
  .cont .button11 {
    width: 28%;
    height: 3vh;
    padding: 1px 2px;
    font-size: 0.6em;
    cursor: pointer;
    background-color: #e4a80e;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .cont .button11:hover {
    background-color: #ffffff;
  }
}
@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 7vh;
    align-items: center;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    height: 5vh;
    align-items: center;
  }
  .cont .button11 {
    width: 26%;
    height: 3vh;
    padding: 1px 2px;
    font-size: 0.7em;
    cursor: pointer;
    background-color: #e4a80e;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .cont .button11:hover {
    background-color: #ffffff;
  }
}
@media only screen and (min-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    align-items: center;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    height: 5vh;
    align-items: center;
  }
  .cont .button11 {
    width: 26%;
    height: 4vh;
    padding: 1px 2px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #e4a80e;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .cont .button11:hover {
    background-color: #ffffff;
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    align-items: center;
  }
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
    height: 5vh;
    align-items: center;
  }
  .cont .button11 {
    width: 26%;
    height: 4vh;
    padding: 1px 2px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #e4a80e;
    color: #000000;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }

  .cont .button11:hover {
    background-color: #ffffff;
  }
}
